<div>
    <div class="nav-top">
        <div class="brand-logo">
            <img src="./assets/img/logo.svg" alt="" srcset="">
        </div>
        <div class="links">
            <ul>
                <li> <span class="material-symbols-outlined">
                    home 
                </span>
                </li>
                <li> <span class="material-symbols-outlined">
                    group
                </span>
                </li>
                <li> <span class="material-symbols-outlined">
                    grid_view
                    </span>
                </li>
            </ul>
        </div>
        <div class="isLogin">
            <div class="profile">
                <div class="profile-img">
                    <img src="./assets/img/shakur.jpg" alt="" srcset="">
                </div>
            
            </div>
            <div class="login">
                <span class="material-symbols-outlined">
                    login
                </span>
            </div>
            <div class="logout">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </div>

        </div>
    </div>

</div>