<div class="sidebar-panel">
  <div class="top"></div>
  <ul>
    <li>
      <span class="material-symbols-outlined"> group </span>
      Friends
    </li>
    <li>
      <span class="material-symbols-outlined"> dashboard </span>
      Groups
    </li>
    <li>
      <span class="material-symbols-outlined"> house </span>
      Market
    </li>
    <li>
      <span class="material-symbols-outlined"> menu </span>
      Events
    </li>
    <li>
      <span class="material-symbols-outlined"> logout </span>
      logout
    </li>
  </ul>
</div>
