<div class="sidebar-panel">
  <div class="top"></div>
  <ul>
    <li>
      <span class="material-symbols-outlined"> person </span>
      Latest
    </li>
    <li>
      <span class="material-symbols-outlined"> person </span>
      Latest
    </li>
    <li>
      <span class="material-symbols-outlined"> person </span>
      Latest
    </li>
    <li>
      <span class="material-symbols-outlined"> person </span>
      Latest
    </li>
    <li>
      <span class="material-symbols-outlined"> person </span>
      Latest
    </li>
  </ul>
</div>
